.categorylist {
    font-family:calibri;
    font-size:24px;
}
.categorylist a:after {
      display: inline-block;
      content: " |";
    }
 .categorylist a:last-child:after{
      content: "";
    }
.categorylist h1 {
    color: #f26c4f;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
}
