.postdetail h1 {
    color: #f26c4f;
    font-size: 36px;
}
.h1, h1 {
    font-size: 36px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

body, html {
    font-family: Open Sans,sans-serif;
}

body {
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}
