body, html {
    font-family: Open Sans,sans-serif;
}

body {
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}
